* {
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background: rgb(60, 147, 9);
    background: linear-gradient(0deg, rgb(26, 24, 90,1) 32%, rgb(4 8 20) 74%);
}

nav {
    position: relative;
    width: 90%;
    background: rgb(60, 147, 9);
    background: linear-gradient(0deg, rgba(60, 147, 9, 1) 32%, rgb(63, 126, 18) 74%);
    height: 90px;
    z-index: 9999;
    border-radius: 1rem;
    box-shadow: 2px 10px 2px 5px rgba(6, 5, 58, 0.459);
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.logo {
    width: 10rem;
    margin-left: 20%;
    margin-top: 10px;
    justify-content: center;
}

.link .url {
    text-decoration: none;
    color: #ECF0F1;
    font-size: 20px;
    margin: 0 20px;
    letter-spacing: 2px;
    transition: .5s;
    height: 100%;
    border-radius: .1rem;
}
.link .url:hover {
    background: rgb(4 8 20);
}

ul {
    display: flex;
}

li {
    list-style: none;
}

.nav-movil {
    display: none;
}

.toggle {
    display: none;
}

.menu {
    width: 75px;
    padding-right: 30px;
}

.cerrar {
    width: 46px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    left: 0;
    top: 0;
    background: linear-gradient(0deg, rgba(60, 147, 9, 1) 32%, rgb(63, 126, 18) 74%);
    opacity: .9;
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.overlay .overlay-content {
    display: flex;
    height: 73%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.overlay a {
    padding: 15px;
    font-size: 28px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.overlay a:hover,
.overlay a:focus {
    color: black;
}

.derecha {
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
    padding-top: 44px;
}

@media (max-width:740px) {
    .links {
        display: none;
    }
    .toggle {
        display: flex;
    }
}